#chantCounter {
    color: #000;
    background-color: #fff;
    border-radius: 9px;
    padding: 10px 105px;
    font-size: xx-large;
    border: 0;
    box-shadow: 0 0 10px rgba(219, 172, 52);
    height: 100%;
    width: 100%;
    cursor: pointer;
    animation: glow 2s infinite;
}

#chantCounter::selection {
    background: none;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(219, 172, 52);
    }

    50% {
        box-shadow: 0 0 20px rgba(219, 172, 52);
    }

    100% {
        box-shadow: 0 0 10px rgba(219, 172, 52);
    }
}