#counterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 360px;
    margin: auto;
    gap: 10px;
    font-size: xx-large;
}