#quotesContainer {
    width: 360px;
    height: 146px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #fff;
    border-radius: 9px;
    color: #000;
    margin: 10px auto;
}

#quotesContainer p {
    width: 80%;
}