@import url('https://fonts.googleapis.com/css2?family=Hanuman&display=swap');

:root {
  color: white;
  background-color: #000;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(128, 0, 0, 0.5);
  font-family: 'Hanuman', serif;
}

#root {
  min-width: 393px;
  /* min-height: 852px; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}